<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <title>Mini message board</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
  <script src="https://use.fontawesome.com/releases/v5.14.0/js/all.js"></script>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>
<body>
  <nav class="navbar is-primary py-2" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <div class="navbar-item">
        <a href="/" class="title">Mini message board</a>
      </div>
    </div>
  </nav>
  {{{body}}}
</body>
</html>